---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Social from "../components/icons/Social.astro";
---

<Layout title="SergioJ Portfolio">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-2 pb-10">
        <img
          class="rounded-full w-12 h-12 me-3"
          src="https://avatars.githubusercontent.com/u/97886835?v=4"
          alt="sergioj-pic"
        />Hola, soy Sergio <a
          href="https://www.linkedin.com/in/sergiojuarezgago"
          target="_blank"
          rel="noopener"
          ><div class="flex justify-center items-center"></div><Badge>
            Disponible para trabajar
          </Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-90">
        Un desarrollador Full Stack de Zamora, Espa침a 游쀯릖 , con 2 a침os de
        experiencia en la creaci칩n de soluciones web eficientes y escalables. Si
        bien tengo habilidades en el desarrollo frontend, mi verdadera pasi칩n y
        enfoque se encuentran en el backend.
      </h2>
      <nav class="flex gap-x-4 mt-8">
        <Social href="https://www.linkedin.com/in/sergiojuarezgago">
          <LinkedIn class="h-6 y-6" />
          LinkedIn
        </Social>
        <Social href="https://github.com/Sergio-JG">
          <GitHub class="h-6 y-6" />
          GitHub
        </Social>
        <Social href="https://github.com/Sergio-JG">
          <GitHub class="h-6 y-6" />
          GitHub
        </Social>
        <Social href="https://github.com/Sergio-JG">
          <GitHub class="h-6 y-6" />
          GitHub
        </Social>
      </nav>
    </section>
  </main>
</Layout>
