---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Social from "../components/icons/Social.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Curriculum from "../components/icons/Curriculum.astro";
import Address from "../components/icons/Address.astro";
import CopySnippet from "../components/CopySnippet.astro";
import TechStackItem from "../components/items/TechStackItem.astro";
import TechStack from "../components/icons/TechStack.astro";
---

<Layout
  title="Portfolio de Sergio - Desarrollador y Programador Web"
  description="Contrata a Sergio para crear aplicaciones web eficientes y escalables."
>
  <main>
    <section id="top" class="w-full mx-auto lg:w-[740px] pt-28">
      <div class="flex flex-row gap-x-6">
        <img
          class="rounded-full size-16"
          src="https://avatars.githubusercontent.com/u/97886835?v=4"
          alt="sergioj-pic"
        />
        <h1 class="lg:text-2xl sm:text-xl text-center mt-5">
          Hola, soy Sergio
        </h1>
        <a
          href="https://www.linkedin.com/in/sergiojuarezgago"
          target="_blank"
          rel="noopener"
          ><div class="flex justify-center items-center"></div><Badge>
            Disponible para trabajar
          </Badge>
        </a>
      </div>
      <h2 class="text-xl text-wrap opacity-90 pt-5 max-w-[700px]">
        <span class="text-yellow-300/80">Desarrollador Full Stack </span>con <span
          class="text-purple-300/90"
        >
          6 meses de experiencia</span
        >
        en la creación de <span class="text-green-300/90">
          soluciones web eficientes y escalables.
        </span>
      </h2>
      <nav class="flex lg:gap-x-4 gap-x-3 mt-8 mb-8">
        <Social href="https://www.linkedin.com/in/sergiojuarezgago">
          <LinkedIn class="lg:size-7 size-3" />
          LinkedIn
        </Social>
        <Social href="https://github.com/Sergio-JG">
          <GitHub class="lg:size-7 size-3" />
          GitHub
        </Social>
        <Social
          href="/files/Curriculum - Sergio Juárez Gago.pdf"
          download="Curriculum - Sergio Juárez Gago.pdf"
        >
          <Curriculum class="lg:size-7 size-3" />
          Descargar CV
        </Social>
      </nav>
      <CopySnippet />
    </section>

    <section id="tech-stack" class="w-full mx-auto lg:w-[740px] py-5">
      <h1
        class="text-yellow-300/80 text-3xl font-semibold flex gap-x-2 items-center pb-10"
      >
        <TechStack />
        Tech Stack
      </h1>
      <TechStackItem />
    </section>

    <section id="experiencia" class="w-full mx-auto lg:w-[740px] py-5">
      <Experience />
    </section>

    <section id="proyectos" class="w-full mx-auto lg:w-[740px] py-5">
      <Projects />
    </section>

    <section id="educacion" class="w-full mx-auto lg:w-[740px] py-5">
      <Education />
    </section>

    <section id="sobre-mi" class="w-full mx-auto lg:w-[740px] py-5">
      <AboutMe />
    </section>
  </main>
</Layout>
