---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex flex-col-reverse gap-6 justify-center items-center md:flex-row"
>
  <div class="text-justify font-semibold">
    <p class="mb-5">
      {t("about_me_part_1")}<span class="text-yellow-300/80">
        {t("about_me_part_2")}
      </span>
      {t("about_me_part_3")}
    </p>
    <p class="mb-5">{t("about_me_part_4")}</p>
    <p class="mb-5">
      {t("about_me_part_5")}
      <span class="text-green-300/80">{t("about_me_part_6")}</span>
      {t("about_me_part_7")}
      <span class="text-purple-300/80">{t("about_me_part_8")}</span>
      {t("about_me_part_9")}
      <span class="text-orange-300/80">{t("about_me_part_10")}</span>.
    </p>
  </div>
  <img class="rounded-full size-52" src="/sj.jpg" alt="sergioj-pic" />
</div>
