---
import AboutMeIcon from "./icons/AboutMeIcon.astro";
---

<h1
  class="text-yellow-300/80 text-3xl font-semibold flex gap-x-2 items-center pb-10 md:text-2xl sm:text-xl sm:pb-5"
>
  <AboutMeIcon />
  Sobre mí
</h1>
<div class="flex gap-x-8 justify-center items-center flex-col md:flex-row">
  <div class="text-justify font-semibold mb-5">
    <p class="mb-5 text-justify">
      Mi nombre es Sergio<span class="text-yellow-300/80">
        y empecé en el mundo de la programación hace 5 años</span
      >. A día de hoy mi sueño es encontrar un lugar donde esté cómodo y pueda
      aportar con mis conocimientos y habilidades.
    </p>

    <p class="mb-5 text-justify">
      Amante del mundo de los videojuegos y de la música, no le hago el feo a
      ningún género. También en ocasiones me siento con la necesidad de ver
      alguna pélicula o serie.
    </p>

    <p class="mb-5 text-justify">
      Una de las cosas que más me caracteriza es que soy una persona bastante
      <span class="text-green-300/80">sociable </span>intentando en todo momento
      ser compañero de mis compañeros, <span class="text-purple-300/80"
        >a la par que competitiva,
      </span> intentando ayudar siempre a mi equipo a conseguir la victoria <span
        class="text-orange-300/80"
        >dando el 100% de mi.
      </span>
    </p>
  </div>

  <img class="rounded-full size-60" src="/sj.jpg" alt="sergioj-pic" />
</div>
