---
import AboutMeIcon from "./icons/AboutMeIcon.astro";
---

<h1
  class="text-yellow-300/80 text-3xl font-semibold flex gap-x-2 items-center pb-10 md:text-2xl sm:text-xl sm:pb-5"
>
  <AboutMeIcon />
  Sobre mí
</h1>
<div class="flex gap-x-8 justify-center items-center flex-col md:flex-row">
  <div class="text-justify font-semibold mb-5">
    <p class="mb-5 text-justify">
      Mi nombre es Sergio, <span class="text-purple-300/80"
        >empecé en el mundo de la programación hace 5 años</span
      >. A día de hoy mi sueño es encontrar mi lugar en el mundo profesional y
      aportar a proyectos importantes.
    </p>
    <p class="mb-5">
      Durante esta evolución como programador <span class="text-green-300/80">
        aporto tanto con mis conocimientos como con mis habilidades</span
      >, colaborando con mis compañeros o bien de forma individual para <span
        class="text-blue-300/80"
        >lograr unas soluciones web eficientes y escalables.</span
      >
    </p>
    <p>
      Si bien tengo habilidades en el desarrollo frontend, <span
        class="text-yellow-300/90"
        >mi verdadera pasión y de enfoque se encuentran en el backend.</span
      >
    </p>
  </div>

  <img
    class="rounded-full size-60 mx-5 sm:mx-2"
    src="/sj.jpg"
    alt="sergioj-pic"
  />
</div>
