---
import CopyIcon from "./icons/CopyIcon.astro";
import Email from "./icons/Email.astro";
import FitContainer from "./FitContainer.astro";
import Social from "./icons/Social.astro";
---

<script>
  const button = document.getElementById("copyClick");
  button?.addEventListener("click", () => {
    navigator.clipboard.writeText("sergiojbusiness@hotmail.com");
  });
</script>

<div class="flex flex-row gap-2">
  <FitContainer>
    <p class="text-xs lg:text-sm">sergiojbusiness@hotmail.com</p>
  </FitContainer>
  <Social href="mailto:sergiojbusiness@hotmail.com">
    <Email class="size-5" />
  </Social>
  <Social id="copyClick">
    <CopyIcon class="size-5" />
  </Social>
</div>
