---
import EducationItem from "./items/EducationItem.astro";
import { education_dictionary } from "../i18n/translation";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    (lang === "es"
      ? education_dictionary.EDUCATION_ES
      : education_dictionary.EDUCATION_EN
    ).map((education) => (
      <li class="mb-5 ms-4">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
