---
import ExperienceItem from "./items/ExperienceItem.astro";
import { experience_dictionary } from "../i18n/translation";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    (lang === "es"
      ? experience_dictionary.EXPERIENCE_ES
      : experience_dictionary.EXPERIENCE_EN
    ).map((experience) => (
      <li class="mb-5 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
