<footer
  class="flex justify-between items-center w-full xl:w-[1120px] mx-auto py-10 px-2"
>
  <span class="text-sm sm:text-center text-gray-300 dark:text-gray-200"
    >© 2024 Sergio-JG. Hola Mundo.</span
  >
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-300 dark:text-gray-200 sm:mt-0"
  >
    <li>
      <a href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-square-arrow-up"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M16 12l-4 -4l-4 4"></path><path d="M12 16v-8"></path><path
            d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
          ></path></svg
        ></a
      >
    </li>
  </ul>
</footer>
