---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Spain from "./icons/Spain.astro";
import English from "./icons/English.astro";
import BurguerIcon from "./icons/BurguerIcon.astro";

const lang = getLangFromUrl(Astro.url);
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menuButton");
    const sideMenu = document.getElementById("sideMenu");

    const applyMenuState = () => {
      const isMenuOpen = localStorage.getItem("isMenuOpen") === "1";

      if (isMenuOpen) {
        sideMenu?.classList.remove("-translate-x-full");
        if (menuButton) {
          menuButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>`; // CloseIcon
        }
      } else {
        sideMenu?.classList.add("-translate-x-full");
        if (menuButton) {
          menuButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" /></svg>`; // BurguerIcon
        }
      }
    };

    const toggleMenu = () => {
      const isMenuOpen = localStorage.getItem("isMenuOpen") === "1";
      const newMenuState = !isMenuOpen;
      localStorage.setItem("isMenuOpen", newMenuState ? "1" : "0");

      applyMenuState();
    };

    if (menuButton) {
      menuButton.addEventListener("click", toggleMenu);
    }

    applyMenuState();
  });
</script>

<header
  class="fixed top-0 right-0 z-10 flex items-center justify-center w-full border-b-[2px]"
>
  <nav
    class="flex justify-between items-center w-full rounded pt-5 pb-3 px-10 bg-gray-950"
  >
    <button id="menuButton" class="text-2xl" aria-label="Toggle menu">
      <BurguerIcon />
    </button>
    <a class="pt-2">
      <button id="languageChanger">
        {lang === "es" ? <English /> : <Spain />}
      </button>
    </a>
  </nav>
</header>
