<header
  class="flex justify-center items-center py-10 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10 text-gray-300 dark:text-gray-200">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#educacion">Educación</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobreMi">Sobre mí</a>
  </nav>
</header>
