<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex bg-gray-950 border px-3 text-sm sm:text-0px font-medium rounded-full text-gray-200 dark:text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      aria-label="tech-stack"
      href="#tech-stack"
    >
      Tech Stack
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      aria-label="experiencia"
      href="#experiencia"
    >
      Experiencia
    </a><a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      aria-label="proyectos"
      href="#proyectos"
    >
      Proyectos
    </a><a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      aria-label="educación"
      href="#educacion"
    >
      Educación
    </a><a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      aria-label="sobre-mi"
      href="#sobre-mi"
    >
      Sobre mí
    </a>
  </nav>
</header>
