---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource/poppins/600.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google tag (gtag.js) -->
    <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-SN8CYWJ1LY"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SN8CYWJ1LY');
    </script>
    <title>{title}</title>
  </head>
  <body class="px-4">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
  }
  html {
    font-family: "poppins", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: radial-gradient(#000 10%, #000 40%, #63e 190%);
    display: flex;
    color: white;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
